{% extends 'vue_base.html' %}
{% block style %}
{{super()}}

  <style>
    .theme--dark.v-card > .v-card__text {
      font-size: 1.3em;
      text-transform: uppercase;
      padding-top: 40px;
      padding-bottom: 40px;
      border: 2px solid white;
    }
    .v-icon.bystanders-dead-icon {
      position: absolute;
      font-size: 60px;
      text-align: center;
      margin: auto;
      margin: 4px;
      color: red;
    }
    .attempted-wrapper {
      position: absolute;
      top: 2px;
      right: 5px;
    }
    .side-columns p { 
      font-size: 11px;
      line-height: 13px;
    }
    img.dead {
      filter: grayscale(1) blur(3px);
    }
    h1 {
      font-size: 5em;
    }
    .container .found {
      filter: drop-shadow(0 0 10px green) drop-shadow(0 0 10px green);
      background-color: green;
    }
    .container .found .v-card__text {
      color: green;
      border: 0;
    }
    .good {
      background-color: green;
      color: white;
    }
    .assassin {
      background-color: black;
      border-color: cornsilk;
      color: white;
    }
    td {
      background-color: white;
      border: solid 1px black;
      text-align: center;
      padding: 10px 0;
      width: 20%;
    }
    table#key {
      border: solid 2px cornsilk !important;
      width: 100%;
      border-collapse:collapse;
      font-family: Arial, Helvetica, sans-serif;
    }
    #video-other-player {
      background-color: red;
      width: 200px;
      height: 160px;
    }
    video#video-0, video#video-16, video#video-preview {
      width: 100%;
    }
    .col-one-fifth {
      flex: 0 0 20%;
      max-width: 20%;
    }
    .agents .v-icon {
      font-size: 35px !important;
    }
    .hint {
      font-size: 20px;
    }
    .hint .v-skeleton-loader__text.v-skeleton-loader__bone {
      margin-bottom: 0;
      font-size: 20px;
      line-height: 30px;
      height: 25px;
      border-radius: 30px;
    }
  </style>
{% endblock %}
{% block vuetemplate %}
<v-container fluid>
    <audio id="meeting-audio" style="display:none"></audio>
    <v-row>
      <v-col cols="2">
        <key :words="game.words" :green="key.green" :black="key.black"></key>
        <div id="flow-load-devices" class="flow" v-show="videoStep === 'flow-load-devices'">
          <v-progress-circular indeterminate></v-progress-circular>
          <small>Reading your microphone and camera details</small>
        </div>
        <div id="flow-devices" class="flow" v-show="videoStep === 'flow-in-meeting'">
          <div id="tile-0">
            <video id="video-0"></video>
            <v-row>
              <v-col class="nameplate">{{thisPlayerName}}</v-col>
              <v-col>
                <v-btn icon @click="toggleVideoSelf">
                  <v-icon v-if="!localPaused">mdi-pause</v-icon>
                  <v-icon v-if="localPaused">mdi-play</v-icon>
                </v-btn>
                <v-btn icon @click="toggleAudioSelf">
                  <v-icon v-if="!localMuted">mdi-microphone</v-icon>
                  <v-icon v-if="localMuted">mdi-microphone-off</v-icon>
                </v-btn>
              </v-col>
            </v-row>
          </div>
          <div id="tile-16">
            <video id="video-16"></video>
            <v-row>
              <v-col class="nameplate">{{otherPlayerName}}</v-col>
              <v-col>
                <v-icon v-if="!otherMuted">mdi-microphone</v-icon>
                <v-icon v-if="otherMuted">mdi-microphone-off</v-icon>
              </v-col>
            </v-row>
          </div>
        </div>
        <div id="flow-devices" class="flow" v-show="videoStep === 'flow-devices'">
          <div class="container">
            <form id="form-devices">
              <p class="text-center">Select devices</p>
              <v-col align="center">
                <v-row>
                  <v-select :value="selectedAudioInput" @input="selectAudioInput" id="audio-input" label="Microphone" :items="audioInputDevices"></v-select>
                </v-row>
                <v-row>
                  <v-select :value="selectedVideoInput" @input="selectVideoInput" id="video-input" label="Camera" :items="videoInputDevices"></v-select>
                </v-row>
                <v-row>
                  <video id="video-preview"></video>
                </v-row>
                <v-row>
                  <v-select :value="selectedVideoQuality" id="video-input-quality" @input="selectVideoQuality" label="Quality" :items="qualityOptions"></v-select>
                </v-row>
                <v-row>
                  <v-select :value="selectedAudioOutput" id="audio-output" label="Speaker" @input="selectAudioOutput" :items="audioOutputDevices"></v-select>
                </v-row>
                <v-row>
                  <v-btn @click="testSpeaker" small outlined color="info">Test <v-icon>mdi-speaker</v-icon></v-btn>
                </v-row>
                <v-row class="mt-3">
                  <v-btn @click="join" color="success">Join</v-btn>
                </v-row>
              </v-col>
            </form>
            <div id="progress-join" class="w-100 progress progress-hidden">
              <div class="w-100 progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </v-col>
      <v-col cols="10">
        <v-row align="center" justify="center" v-if="!noPlayer">
          <v-col cols="auto">
            <span v-show="!iAmGuessing"><span v-text="nextPlayer.name"></span>'s</span><span v-show="iAmGuessing">MY</span> turn to <b>GUESS</b>
          </v-col>
          <v-col cols="2">
            <v-btn color="warning" outlined @click="stopGuessing" v-show="iAmGuessing"><v-icon>mdi-stop</v-icon> Stop guessing</v-btn>
          </v-col>
          <v-col cols="2">
            <v-row align="center" class="hint" v-show="iAmGuessing">
              <v-col cols="4">Hint:</v-col>
              <v-col v-show="!game.hint.word"><v-skeleton-loader type="text"></v-skeleton-loader></v-col>
              <v-col v-show="game.hint.word">
                <span v-text="game.hint.word"></span> (<span v-text="game.hint.count"></span>)
              </v-col>
            </v-row>
            <v-row v-show="!iAmGuessing">
              <v-btn outlined v-show="!game.hint" class="ml-5" :elevation="5" @click.stop="hintDialog = true">Give hint</v-btn>
              <v-col v-show="!game.hint.word">
                <span v-text="game.hint.word"></span> (<span v-text="game.hint.count"></span>)
              </v-col>
            </v-row>
          </v-col>
        </v-row>
        <v-row align="center" justify="center" v-if="noPlayer">
          Anyone can start with the first hint.
          <v-btn outlined class="ml-5" @click.stop="hintDialog = true">Give hint</v-btn>
        </v-row>
        <v-row>
          <v-col cols="1" class="side-columns agents" align="center" justify="center">
            <p>Agents</p>
            <v-icon v-for="i in foundAgents" color="success" :key="`check${i}`">mdi-check</v-icon>
            <v-icon v-for="i in unfoundAgents" :key="`question${i}`">mdi-head-question</v-icon>
          </v-col>
          <v-col cols="10" style="position: relative">
            <v-overlay
              absolute
              :opacity="0"
              :value="!iAmGuessing"
            ></v-overlay>
            <v-row v-for="row, i in rows" :key="i">
              <v-col class="col-one-fifth" v-for="word, j in row" :key="j">
                <v-card @click="pointed(word)" class="word-wrapper" :class="{found: isFound(word)}">
                  <v-card-text class="text-center">
                    <div class="attempted-wrapper">
                      <v-icon v-if="player1Attempted(word)">mdi-numeric-1-circle</v-icon>
                      <v-icon v-if="player2Attempted(word)">mdi-numeric-2-circle</v-icon>
                    </div>
                    <div v-text="word"></div>
                  </v-card-text>
                </v-card>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="1" class="side-columns" align="center" justify="center">
            <p>Innocent Bystanders</p>
            <div v-for="img, i in bystanders" :key="img" :class="{dead: i >= game.bystanders}">
              <v-icon class="bystanders-dead-icon" v-if="i >= game.bystanders">mdi-emoticon-dead-outline</v-icon>
              <img :src="img" class="ml-1 mr-1">
            </div>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-footer>
      <v-card
        flat
        tile
        fixed
        width="100%"
        class="text-center"
      >
        <v-btn class="mr-4" outlined color="info" @click="rulesDialog = true">Rules</v-btn>
        <v-btn outlined color="warning" @click="contactDialog=true">Contact me</v-btn>
        <v-btn outlined color="success" @click="buyMeDialog=true">Buy me a beer/coffee</v-btn>
      </v-card>
    </v-footer>
  </v-container>
  <v-dialog v-model="hintDialog" max-width="390">
    <v-card>
      <v-card-title class="headline dark">Give hint</v-card-title>
      <v-card-text>
        Hint should be a single word, and a number
        <v-text-field label="Word" v-model="giveHint.text"></v-text-field>
        <v-text-field label="Count" type="number" v-model="giveHint.count"></v-text-field>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="green darken-1"
          dark
          outlined
          :disabled="giveHint.text === ''"
          @click="confirmHint"
        >
          Confirm
        </v-btn>
        <v-btn
          text
          @click="hintDialog = false"
        >
          Cancel
        </v-btn>
      </v-card-actions>
    </v-card>

  </v-dialog>
  <v-dialog v-model="buyMeDialog" fullscreen hide-overlay transition="dialog-bottom-transition">
    <v-card>
      <v-toolbar dark>
        <v-btn icon dark @click="buyMeDialog = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
        <v-toolbar-title>I'd rather you bought the game</v-toolbar-title>
        <v-spacer></v-spacer>
      </v-toolbar>
      <v-container>
        <p>As much as I appreciate the thought and good intentions of the people who clicked this button, I did not create this site for personal gain.</p>
        <p>I would much rather prefer if your <a href="https://czechgames.com/en/codenames-duet/" target="_blank">generosity was used to reward the creator of the game</a>.</p>
        <p>It would be great to hear your feedback though; you can check the "Contact me" section for that.</p>
      </v-container>
    </v-card>
  </v-dialog>
  <v-dialog v-model="contactDialog" fullscreen hide-overlay transition="dialog-bottom-transition">
    <v-card>
      <v-toolbar dark>
        <v-btn icon dark @click="contactDialog = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
        <v-toolbar-title>Contact me</v-toolbar-title>
        <v-spacer></v-spacer>
      </v-toolbar>
      <v-container>
        <p>I am in no way affiliated with the Codenames game, its author or publisher.</p>
        <p>Honestly, this here site was driven by a blend of
          <ul>
            <li>the need for a proof of concept for using AWS Chime SDK</li>
            <li>my appreciation for the Codenames game</li>
            <li>the boredom of #stayAtHome #Covid19 lockdown period early 2020</li>
          </ul>
        </p>
        <p>If you (pick one)
          <ul>
            <li>like the site,</li>
            <li>take issue with the legality of it,</li>
            <li>or have constructive criticism,</li>
          </ul><a href="mailto:mathieu@redapesolutions.com">feel free to drop me a line</a>.
        </p>
        <p>If you found technical issues or possible improvements, you may open an issue on <a href="https://github.com/matiboy/codenames_duet" target="_blank">Github</a></p>
        <p>Meanwhile, allow me to encourage you to purchase <a href="https://czechgames.com/en/codenames-duet/" target="_blank">the original boardgame</a></p>
        <p>--<br>Mat</p>
      </v-container>
    </v-card>
  </v-dialog>
  <v-dialog v-model="rulesDialog" fullscreen hide-overlay transition="dialog-bottom-transition">
    <v-card>
      <v-toolbar dark>
        <v-btn icon dark @click="rulesDialog = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
        <v-toolbar-title>Rules</v-toolbar-title>
        <v-spacer></v-spacer>
      </v-toolbar>
      <v-container fluid>
        <v-col>
          <p>It might be easier to <a target="_blank" href="https://czechgames.com/files/rules/codenames-rules-en.pdf">download the official PDF version of the rules</a>, or watch <a href="http://cge.as/cnv" target="_blank">the official rules overview video</a></p>
          <p class="headline">Below is just another explanation.</p>
          <v-expansion-panels :dark="false">
            <v-expansion-panel>
              <v-expansion-panel-header>General</v-expansion-panel-header>
              <v-expansion-panel-content>
                <p class="title">Goal</p>
                <p>This is a collaborative game. The goal is to uncover the code names of all (15) agents while avoiding the (5) assassins names.</p>
                <p>This goal needs to be achieved before all innocent bystanders are dead. Consider these are "turns"</p>
                <p class="title">What names?</p>
                <p>In the top left, you will see your "Key" (a rectangle with green, black and white boxes). Mentally align the colors in the key to the words in the main area;</p>
                <ul>
                  <li>the <span class="green--text">green words</span> are your agents' names - what you would want the other player to GUESS; you have 9 of those;</li>
                  <li>the black words are assassins' names - which you would want the other player to AVOID; you have 3 of those;</li>
                  <li>the <span class="white--text">white words</span> are innocent bystanders; they are not GOOD but NOT TOO BAD.</li>
                </ul>
                <p class="title">What happens each turn?</p>
                <p>One of the two players will be "Giving hint", the other will be "Guessing". You will alternate in those roles.</p>
                <p>Below you will find explainations as to what happens in each role.</p>
                <p class="title">Who goes first? Who starts in which role?</p>
                <p>Either one of the two players can decide to provide a hint first; from then onwards, players alternate in "Guessing" and "Giving hint"</p>
              </v-expansion-panel-content>
            </v-expansion-panel>
            <v-expansion-panel>
              <v-expansion-panel-header>"Giving hint" role</v-expansion-panel-header>
              <v-expansion-panel-content>
                <p class="title">Goal of this role</p>
                <p>When assuming the "Hinting" role, you want the other player to Guess your agents' names (green cards).</p>
                <p>The rules of what constitutes a valid hint is detailed below.</p>
                <p class="title">Uttering the hint</p>
                <p>You will need to utter your hint as follows: One word ONLY, followed by a number; e.g. "<span class="red--text">Bird</span>, <span class="blue--text">Two</span>"</p>
                <p>In this example, you are telling the other player that <span class="blue--text">Two</span> of the names in your green boxes are somehow related to <span class="red--text">"Bird"</span></p>
                <p>You may not give any other signals of any form; no other word, no visual hints.</p>
                <p>Once you have uttered your hint, let the other player start "Guessing"</p>
                <p class="title">Valid hint</p>
                <p>
                  <ul>
                    <li>You may not use multiple words (unless they make sense e.g. New York is ok)</li>
                    <li>You may not use a word or part of a word which is on the main board</li>
                    <li>You may not use translations of a word from the board in another language (unless it makes sense e.g. Crepe for Pancake is ok)</li>
                  </ul>
                </p>
              </v-expansion-panel-content>
            </v-expansion-panel>
            <v-expansion-panel>
              <v-expansion-panel-header>"Guessing" role</v-expansion-panel-header>
              <v-expansion-panel-content><p class="title">Goal of this role</p>
                <p>In this role, you are attempting to guess the names of the other player's agents.<br>
                  Consider the hint given by the other player and try to associate their hint with the words that are still open on the board.
                  <br>
                  At this stage, you should basically ignore your own key; it is not relevant at that point in time.
                </p>
                <p class="title">Choose agent names</p>
                <p>Select the names you believe the other player was hinting to.</p>
                <p>Do this one at a time, simply by clicking on the corresponding card in the main board (usually starting from the most obvious one).
                </p>
                <p>One of three things may happen:
                  <ul>
                    <li>You may have picked an assassin. The game ends, and you both lose.</li>
                    <li>You may have picked an innocent bystander. One bystander dies; the roles are swapped - it is now your turn to "Give hint", and the other player's turn to "Guess".
                      <br>Additionally, if you ran out of bystanders, the game ends and you both lose.</li>
                    <li>You found one of the other player's agents. The agent is marked as found and you may continue to guess, if you wish to.</li>
                  </ul>
                </p>
                <p class="title">How long do I continue guessing?</p>
                <p>You may decide to stop guessing at any time if you do not feel comfortable that your next guess would be correct.
                  <br>In this case, click the "Stop guessing" button.
                  <br>Note however that an innocent bystander will be killed due to your lack of pro-activity
                </p>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-col>
      </v-container>
    </v-card>
  </v-dialog>
  <v-overlay :value="ended" :color="overlayColor">
    <h1 class="success--text" v-if="won">Win!</h1>
    <h1 class="error--text" v-if="lost">LOST 😓</h1>
    <v-btn large @click="startNew">Start new game</v-btn>
  </v-overlay>
</v-content>
{% endblock %}
{% block vueapp %}
<script src="{{dynamic_script}}"></script>
<script src="/static/game_split.js"></script>
<script>
  window.$vm = new Vue({
    ...CovidNames.game_split.default,
    data: {
      ...CovidNames.game_split.default.data,
      game: window.GAME
    },
    el: '#app',
    vuetify: new Vuetify({
      theme: {
        dark: true
      }
    })
  })
</script>
{% endblock %}