
{% extends 'base.html' %}
{% block style %}
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div id="app">
  <v-app>
    <v-content>
      <v-system-bar style="height: 80px;">
          <v-col>CoVIDenames</v-col>
          <v-col>
            <v-row align="center">
            <img height="80" width="80" src="https://drakemall-files.s3.amazonaws.com/Codename-cj8yfzpnj00kq0ounbgpaikx6.png">
            Support this awesome game, <br><a href="https://czechgames.com/en/codenames-duet/">buy it from its publisher, please!</a>
            </v-row>
          </v-col>
      </v-system-bar>    
      {% block vuetemplate%}{%endblock%}
      <v-snackbar :color="snackbarColor" :value="snackbar" @input="snackbar = false" class="black--text"><span v-text="snackbarText"></span></v-snackbar>
    </v-content>
</v-app>
</div>
{% block cdn %}
<script src="https://source.zoom.us/1.7.2/lib/vendor/lodash.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcode-generator/1.4.4/qrcode.min.js" integrity="sha256-Fk/Cwcnq8KA6qN/bhV6C5BpcaSL7rYuzI4EWIH4mvvc=" crossorigin="anonymous"></script>
{% endblock %}
<script>
  window.post = function(url, data) {
    return fetch(url, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data)
    }).then(x => x.json())
  }
</script>
{% block vueapp %}{% endblock %}
{% endblock %}