
{% extends 'base.html' %}
{% block style %}
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div id="app">
  <v-app>
    <v-content>
      <v-banner single-line>CoVIDenames {% block banner_extra %}{%endblock%}</v-banner>    
      {% block vuetemplate%}{%endblock%}
      <v-snackbar :color="snackbarColor" :value="snackbar" @input="snackbar = false" class="black--text"><span v-text="snackbarText"></span></v-snackbar>
    </v-content>
</v-app>
</div>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcode-generator/1.4.4/qrcode.min.js" integrity="sha256-Fk/Cwcnq8KA6qN/bhV6C5BpcaSL7rYuzI4EWIH4mvvc=" crossorigin="anonymous"></script>
<script>
  window.post = function(url, data) {
    return fetch(url, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data)
    }).then(x => x.json())
  }
</script>
{% block vueapp %}{% endblock %}
{% endblock %}